[submodule "Client"]
	path = Client
	url = git@github.com:KTH-EXPECA/EdgeDroidClient.git
[submodule "Backend"]
	path = Backend
	url = git@github.com:KTH-EXPECA/EdgeDroidBackend.git
[submodule "Results"]
	path = Results
	url = git@github.com:KTH-EXPECA/EdgeDroidResults.git
[submodule "Traces"]
	path = Traces
	url = git@github.com:KTH-EXPECA/CognitiveAssistanceTraces.git
